@font-face {
	font-family: 'Inter Regular';
	src: url(../fonts/Inter-Regular.woff2) format('woff2'), 
	url(../fonts/Inter-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter Semi Bold';
	src: url(../fonts/Inter-SemiBold.woff2) format('woff2'), 
	url(../fonts/Inter-SemiBold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Inter Extra Light';
	src: url(../fonts/Inter-ExtraLightBETA.woff2) format('woff2'), 
	url(../fonts/Inter-ExtraLightBETA.woff) format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Inter Thin';
	src: url(../fonts/Inter-ThinBETA.woff2) format('woff2'), 
	url(../fonts/Inter-ThinBETA.woff) format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Inter Medium';
	src: url(../fonts/Inter-Medium.woff2) format('woff2'),
	url(../fonts/Inter-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #DBA7EE;
	border-radius: 1.9rem;
}

#first {
	background-image: url('../img/main-background.jpg');
	background-size: 550px 643px;
	background-repeat: no-repeat;
	background-position: right 90px;
}
.preloader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: #fff;
}
	
.loading {
	display: block;
}

.loader {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
}

.loaded {
	display: none;
}

.header {
	width: 100vw;
	height: 90px;
	background-color: #DBA7EE;
}

.container-z {
	padding: 0;
}

.container {
	width: 100%;
	height: 100%;
}

.center {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts-dropdown-menu {
	padding: 0;
	margin: 0;
	width: 230px;
}

.contacts-flex {
	display: flex;
	flex-direction: column;
	padding: 5px 15px 10px;
}

.contacts-link {
	color: #000;
	text-decoration: none;
	font-family: 'Inter Semi Bold';
	font-size: 16px;
}

.contacts-link:hover {
	color: #000;
}

.contacts-link:not(:last-child) {
	margin-bottom: 5px;
}

.contacts-paragraph {
	font-family: 'Inter Extra Light';
	font-size: 16px;
}

.dropdown-menu {
	background-color: #DBA7EE;
}

.dropdown-item:hover {
	background-color: #e7c4f5 ;
}

.navbar {
	height: 100%;
	padding: 0;
}

.nav-link {
	padding: 0 !important;
	font-family: 'Inter Regular';
	font-size: 15px;
	color: #000;
}

.nav-link:hover {
	color: #000;
}

.nav-link:focus {
	color: #000;
}

.dropdown-item {
	display: flex;
}

.drop-img {
	height: 19px;
	width: 19px;
	margin-right: 7px;
}

.dropdown-toggle::after {
	display: none !important;
}

.about-btn {
	height: 60px;
	width: 240px;
	margin-bottom: 209px;
	border: 1px solid #FFEFEF;
	border-radius: 1.9rem;
	background-color: #4374f1;
	color: #fff;
	font-family: 'Inter Regular';
	font-size: 16px;
}

.about-dropdown-menu {
	width: 600px;
	height: 250px;
	background-color: #fff;
	border: 1px solid #777
}

.about-container {
	padding: 10px 20px 30px;
}

.about-logo {
	width: 109px;
	margin-bottom: 20px;
}

.about-paragraph {
	font-family: 'Inter Regular';
	font-size: 14px;
}

.about-paragraph:not(:last-child) {
	margin-bottom: 6px;
}

.about-gif {
	width: 83px;
}

.about-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.about-slider-item {
	flex: 0 0 100%;
  max-width: 100%;
}

#main-section {
	padding-top: 166px;
}

.main-headline {
	width: 360px;
	margin-bottom: 49px;
	font-family: 'Inter Semi Bold';
	line-height: 44px;
	color: #000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.main-about {
	max-width: 555px;
	font-family: 'Inter Extra Light';
	line-height: 29px;
	margin-bottom: 43px;
}

.no-user-select {
	user-select: none;
}

.video-section {
	padding-top: 90px;
}

.footer {
	height: 200px;
	background-color: #4374F1;
}

.footer-info {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	padding-top: 20px;
}

.footer-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 40px;
}

.footer-item {
	text-decoration: none;
	font-size: 14px;
	font-family: 'Inter Extra Light';
	color: #fff;
}

.footer-item:hover {
	color: #fff;
}

.address::selection {
	background-color: #fff;
	color: #4374F1;
}

.footer-item:not(:last-child) {
	margin-bottom: 15px;
}

.aside-menu-item:not(:last-child) {
	margin-bottom: 5px;
}

.aside-menu {
	flex-basis: 170px;
	flex-shrink: 0;
	height: 440px;
	position: sticky;
	top: 90px;
	padding-top: 40px;
}

.aside-menu-list {
	margin: 0;
	padding: 10px;
	border: 2px solid #DBA7EE;
	border-radius: 1.3rem;
}

.aside-menu-link {
	text-decoration: none;
	font-family: 'Inter Medium';
	font-size: 14px;
	color: #000;
	transition: 0.2s ease-in-out;
}

.aside-menu-link:hover {
	color: #DBA7EE;
}

.video-container {
	display: flex;
	flex-direction: column;
	flex-basis: 1126px;
	padding: 40px 0 0 36px;
	flex-shrink: 1;
	padding-bottom: 50px;
}

video {
	max-width: 100%;
}

.video {
	display: flex;
	align-items: center;
	max-width: 270px;
	height: 180px;
	outline: 1px solid blueviolet;
	margin: 0 auto;
	border-top: 1px solid blueviolet;
	border-bottom: 1px solid blueviolet;
}

.video-done {
	outline: none;
	border: none ;
}

.itc-slider__item {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.video-row {
	padding-top: 130px;
	margin-top: -130px;
	flex-basis: 100%;
	flex-shrink: 1;
	margin-bottom: 70px;
}

.video-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: no-wrap;
}

.videos-title {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 25px;
}

.video-title-img {
	width: 27px;
	margin-right: 10px;
}

.video-title-headline {
	margin: 0;
	font-family: 'Inter Medium';
	font-size: 20px;
}

.top-linkhuhu, .top-linkhuhu:hover {
	text-decoration: none;
	color: #000;
	font-family: 'Inter Regular';
}

.top-link-blockhuhu {
	visibility: visible;
	position: fixed;
	z-index: 1000000;
	bottom: 3vh;
	right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	background-color: #fff;
	border: 2px solid #DBA7EE;
	border-radius: 1.3rem;
}

#top {
	padding-top: 130px;
	margin-top: -130px;
}

/* theory */

#theory-body {
	background-color: #D9CCFF;
}

.theory-links-block {
	display: flex;
	flex-direction: column;
}

.theory-link {
	margin-bottom: 18px;
	color: #000;
	text-decoration: none;
	z-index: 200;
}

/* subjects */

.subject-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.right-block, .left-block {
	width: 50%;
}

.markk {
	outline: 1px solid chocolate;
	height: 100ch;
}

.under-header {
	margin-top: 90px;
}

.sub-title {
	font-family: 'Inter Semi Bold';
	font-size: 36px;
	margin-bottom: 29px;
}

/* right-block */
.right-block {
	display: flex;
	flex-direction: column;
	padding: 69px 88px 0 43px;
}

.sub-list {
	padding: 0;
	list-style: none;
}

.sub-list-item {
	margin-bottom: 31px;
}

.sub-link {
	font-family: 'Inter Medium';
	font-size: 20px;
	color: #000;
}

.sub-link:hover {
	color: #000;
}

/* left-block */
.left-block {
	position: sticky;
	top: 90px;
	display: flex;
	flex-direction: column;
	padding: 188px 22px 330px 84px
}

.sub-quote {
	font-family: 'Inter Extra Light';
	font-size: 36px;
}

.sub-cite {
	font-family: 'Inter Thin';
	font-size: 36px;
	font-style: normal;
}

.back {
	background-size: cover;
	background-repeat: no-repeat;
}

#rus-back {
	background-image: url('../img/rus-background.png');
}

#math-back {
	background-image: url('../img/math-background.png');
}

#physic-back {
	background-image: url('../img/physic-background.png');
}

#chemistry-back {
	background-image: url('../img/chemistry-background.png');
}

#ict-back {
	background-image: url('../img/ict-background.png');
}

#history-back {
	background-image: url('../img/history-background.png');
}

#social-studies-back {
	background-image: url('../img/social-studies-background.png');
}

#geography-back {
	background-image: url('../img/geography-background.png');
	padding-bottom: 600px;
}

#english-language-back {
	background-image: url('../img/english-language-background.png');
}

#biology-back {
	background-image: url('../img/biology-background.png');
}

@media (max-width: 1920px) {
	.nav-item:not(:last-child) {
		margin-right: 50px;
	}

	.logo-img {
		width: 110px;
	}

	.logo {
		margin-right: 67px;
	}

	.navbar-nav {
		margin-top: 43px;
		margin-bottom: 30px;
	}

	.main-headline {
		font-size: 36px;
	}

	.main-about {
		font-size: 24px;
	}
}

@media (max-width: 1400px) {
	.itc-slider__item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.sub-title, .sub-quote, .sub-cite {
		font-size: 32px;
	}
}

@media (max-width: 1200px) {
	.nav-item:not(:last-child) {
		margin-right: 45px;
	}

	.logo-img {
		width: 110px;
	}

	.logo {
		margin-right: 80px;
	}

	.navbar-nav {
		margin-top: 43px;
		margin-bottom: 30px;
	}

	.main-headline {
		font-size: 35px;
	}

	.main-about {
		font-size: 23px;
	}

	.subject-row {
		flex-direction: column;
		align-items: center;
	}

	.left-block {
		position: static;
		width: 660px;
	}

	.right-block {
		padding: 69px 0 0;
	}
}

@media (max-width: 1024px) {
	.nav-item:not(:last-child) {
		margin-right: 40px;
	}

	.logo-img {
		width: 110px;
	}

	.logo {
		margin-right: 70px;
	}

	.navbar-nav {
		margin-top: 43px;
		margin-bottom: 30px;
	}

	.main-headline {
		font-size: 34px;
	}

	.main-about {
		font-size: 22px;
	}

	#first {
		background-image: none;
	}

	.itc-slider__item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.nav-item:not(:last-child) {
		margin-right: 35px;
	}

	.logo-img {
		width: 110px;
	}

	.navbar {
		display: flex;
		flex-direction: column;
		padding-top: 15px;
	}

	.logo {
		margin: 0;;
	}

	.header {
		height: auto;
	}
	
	.navbar-nav {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.main-headline {
		font-size: 33px;
	}

	.main-about {
		font-size: 21px;
	}

	#first {
		background-image: none;
	}

	.aside-menu {
		display: none;
	}

	.video-container {
		padding-left: 0;
	}

	.left-block {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.right-block {
		max-width: 300px;
	}

	#geography-back {
		padding-bottom: 330px;
	}

	#rus-back {
		padding-bottom: 370px;
	}

	.about-right-block {
		display: none;
	}

	.about-dropdown-menu {
		width: 300px;
		height: auto;
		z-index: 10000;
	}
}

@media (max-width: 480px) {
	.nav-item:not(:last-child) {
		margin-right: 30px;
	}

	.navbar {
		display: flex;
		flex-direction: column;
		padding-top: 15px;
	}

	.logo {
		margin: 0;
	}

	.header {
		height: auto;
	}

	.navbar-nav {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.main-headline {
		font-size: 32px;
	}

	.main-about {
		font-size: 20px;
	}

	#first {
		background-image: none;
	}

	.top-link-blockhuhu {
		visibility: visible;
		position: fixed;
		z-index: 1000000;
		bottom: 3vh;
		right: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px 8px;
		background-color: #fff;
		border: 2px solid #DBA7EE;
		border-radius: 1.3rem;
	}
}